# Ignore Python cache files
__pycache__/
*.pyc

# Ignore file-store directory
file-store/

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore backup files
*.bak
*.swp

.venv/